<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Software</h2>
    <img src="{{ '/assets/logos/sketchup_100x100.png' | prepend: site.baseurl }}" alt="SketchUp Logo" style="width: 50px; height: 50px;"/>
    <img src="{{ '/assets/logos/autocad_100x100.png' | prepend: site.baseurl }}" alt="AutoCAD Logo" style="width: 50px; height: 50px;"/>
    <img src="{{ '/assets/logos/revit_100x100.png' | prepend: site.baseurl }}" alt="Revit Logo" style="width: 50px; height: 50px;"/>
    <p>I am proficient in industry-standard design software, including Sketchup, Autodesk AutoCAD, Revit, and Bluebeam, which I use extensively for architectural design and documentation.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="{{ '/assets/logos/CA_100x100.png' | prepend: site.baseurl }}" alt="California Logo" style="width: 50px; height: 50px;"/>
    <img src="{{ '/assets/logos/code_book_100x100.png' | prepend: site.baseurl }}" alt="Code Book Logo" style="width: 50px; height: 50px;"/>
    <img src="{{ '/assets/logos/government_100x100.png' | prepend: site.baseurl }}" alt="Government Logo" style="width: 50px; height: 50px;"/>
    <p>I have extensive experience with the California Building Code (CBC) and ADA guidelines, as well as assembling comprehensive sets of construction drawings for permits. My attention to detail ensures compliance and precision throughout the design and documentation process.</p>
  </div>
  <div class="tech">
    <h2>Desktop Environments</h2>
    <img src="{{ '/assets/logos/mac_os_100x100.png' | prepend: site.baseurl }}" alt="Mac OS Logo" style="width: 50px; height: 50px;"/>
    <img src="{{ '/assets/logos/windows_100x100.png' | prepend: site.baseurl }}" alt="Windows Logo" style="width: 50px; height: 50px;"/>
    <img src="{{ '/assets/logos/linux_100x100.png' | prepend: site.baseurl }}" alt="Linux Logo" style="width: 50px; height: 50px;"/>
    <p>I am adept at using multiple operating systems, including macOS, Windows, and Linux, to create a seamless workflow for design, documentation, and project coordination.</p>
  </div>
</div>
