<div class="header-icons">
   <a aria-label="My Email" href="mailto:{{ site.email }}">
       <i class="icon fa fa-envelope" aria-hidden="true"></i>
   </a>
   {% if site.twitter_username %}
       <a aria-label="My Twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
           <i class="icon fa fa-twitter" aria-hidden="true"></i>
       </a>
   {% endif %}
   {% if site.instagram_username %}
       <a aria-label="My Instagram" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
           <i class="icon fa fa-instagram" aria-hidden="true"></i>
       </a>
   {% endif %}
   <a aria-label="My GitHub" href="https://github.com/{{ site.github_username }}" target="_blank">
       <i class="icon fa fa-github-alt" aria-hidden="true"></i>
   </a>
   <a aria-label="My YouTube" href="https://www.youtube.com/@{{ site.youtube_username }}" target="_blank">
       <i class="icon fa fa-youtube" aria-hidden="true"></i>
   </a>
   <a aria-label="My Blue Sky" href="https://bsky.app/profile/{{ site.blue_sky_username }}" target="_blank">
       <i class="icon fa fa-cloud" aria-hidden="true"></i>
   </a>
</div>
